@import "~styles/shared.scss";

.social-media-bar__container {
  display: inline-flex;
  justify-content: center;
}

.social-media-bar__list {
  list-style-type: none;
  display: inline-flex;
  justify-content: space-between;
}

.social-media-bar__list--large {
  width: 200px;
  @include desktop {
    width: 600px;
  }
}
