@import "~styles/shared.scss";
.blog__container {
  padding: 0 1rem;
}

.blog__title {
  @extend .h2-title;
}
.blog__content {
  @extend .body;
  color: #2d3748;
}

.blog__image-container {
  display: inline-flex;
  justify-content: center;
}

.blog__content-container {
  margin-top: 4rem;

  p:not(:first-child) {
    margin-top: 20px;
  }
}
.blog__image {
  width: 80%;
  height: 80%;
  border-radius: 8px;
}
.blog__footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
