@import "~styles/shared.scss";

.navbar__container {
  width: 100%;
  display: inline-flex;
  margin-top: 30px;
  border-top: 1px solid #cbd5e0;
  border-bottom: 1px solid #cbd5e0;
  padding: 18px 0;
  > ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0 auto;

    > li:hover {
      color: #cbd5e0;
    }
  }
}

.navbar__container > ul > li {
  margin: 0 16px;
  text-transform: uppercase;
  font: normal normal normal 13px/15px $primary-font;
  cursor: pointer;

  @include desktop {
    font: normal normal normal 16px/18px $primary-font;
  }
}

.navbar__link {
  text-decoration: none;
  text-transform: uppercase;
  font: normal normal normal 13px/15px $primary-font;
  color: #000000;
  cursor: pointer;

  @include desktop {
    font: normal normal normal 16px/18px $primary-font;
  }
}

.navbar__link:hover {
  color: #cbd5e0;
}
