@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap");

@import "./breakpoints.scss";

/*
  Fonts
*/

$logo-font: "Roboto";
$primary-font: "Roboto";

/*
  Colors
*/

$color-gray-principal: #cbd5e0;

.h1-title {
  font-size: 3rem;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;

  @include desktop {
    font-size: 4rem;
  }
}

.body {
  font-size: 1rem;
  font-family: Roboto;
  letter-spacing: -0.003em;
  line-height: 1.625;

  @include desktop {
    font-size: 1.25rem;
  }
}
