@import "~styles/shared.scss";
.contact__container {
  padding: 0 1rem;
}

.contact__title {
  @extend .h1-title;
}
.contact__content {
  @extend .body;
  color: #2d3748;
  a {
    text-decoration: none;
    color: #6391e0;
  }
}

.contact__image-container {
  display: inline-flex;
  justify-content: center;
  width: 100%;
}

.contact__content-container {
  margin-top: 4rem;

  p:not(:first-child) {
    margin-top: 20px;
  }
}
.contact__image {
  width: 50%;
  height: 50%;
  border-radius: 8px;
}
.contact__footer {
  height: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
